<!DOCTYPE html>
<html>
<head>
  <title>Profiler 업로드</title>
</head>
<body>
  <h1>inputFile.txt 업로드</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="datafile" required />
    <button type="submit">업로드</button>
  </form>
</body>
</html>
